/*No supe juan perdoname*/

.Contenedor_Contactos{
    display: grid;
    background-color: aqua;
    border-radius: 10%;
    margin: 2%;
}
.Contacto_Individual{
    display: grid;
    background-color: white;
    border-radius: 10%;
    padding: 20px;
    margin: 20px;
    width: 300px;
}