{% extends 'layouts/nav.html' %}

{% block content %}
<link rel="stylesheet" href="/static/MostrarContactos.css">
<h1>Nuestros Contactos</h1>

<div class="acciones-generales">
    <a href="/ruta-para-agregar" class="btn btn-agregar">Agregar Nuevo Contacto</a>
</div>

<div class="Contenedor_Contactos">
    {% for contacto in infocontactos %}
    <div class="Contacto_Individual">
        <div class="contenido">
            <h2>{{ contacto.nombre }} {{ contacto.apellido }}</h2>
            <h3>{{ contacto.email }}</h3>
            <p>{{ contacto.motivo }}</p>
        </div>
        
        <div class="acciones">
            <a href="/borrar/{{ contacto.id }}" class="btn btn-borrar">Borrar</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}