<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/Lindo.css"/>
    <meta charset="UTF-8">
    <meta name="Django J&R" content="width=device-width, initial-scale=1.0">
    <title>Django J&R</title>
</head>
{% extends 'layouts/base.html' %}
{% block content %}
<body>
    <script src="/static/scriptNosotros.js"> </script>
    <img>
        <h1>JUAN SANHUEZA Y ROBERTO YÁÑEZ</h1>
        
        <div class="Nosotros">

            <!-- parte que contiene a Juan -->
            <div class=" mitad Juan">
                <div class="Jcont1">
                    <h2>Juan Alejandro Sanhueza Godoy</h2>
                    <ul>
                        <li>Fecha nacimiento: 12/12/2002</li>
                        <li>Nacionalidad: Chileno</li>
                        <li>Estado civil: Soltero</li>
                        <li>Estudiante en Ingeniería en Ciberseguridad </li>

                    </ul>
                    <h2>Contacto:</h2>
                        <ul>
                            <li>Teléfono personal: (+56 9) 1234-5678</li>
                            <li>Correo: juan.sanhueza@example.com</li>
                            <li>Página web: www.sitioincreible.com</li>
                            <li>LinkedIn: linkedin.com/in/juan-sanhueza</li>
                            <li>GitHub: github.com/juan-sanhueza</li>
                        </ul>
                    <h2>Habilidades:</h2>
                        <ul>
                            <li>Programación en Python</li>
                            <li>Seguridad Informática</li>
                            <li>Desarrollo Web</li>
                            <li>Trabajo en equipo</li>
                            <li>Experiencia en armado y mantención de computadores (autodidacta)</li>
                        </ul>
                    <h2>Educación:</h2>
                        <ul>
                            <li>Instituto Sagrado Corazón de San Bernardo (2009 - 2021)</li>
                            <li>INACAP, Ciberseguridad (2024 - En curso)</li>
                        </ul>
                    <h2>Idiomas:</h2>
                        <ul>
                            <li>Español (Nativo)</li>
                            <li>Inglés (Intermedio)</li>
                        </ul>            
                    <h2>Licencia de conducir:</h2>
                        <ul>
                            <li>Clase B desde 2022</li>
                        </ul>
                        
                    <button id="botonJextra" class="boton Jextra">Datos extra</button>
                    <div id="extra" class="info-oculta">
                        hola
                    </div>
                        
            </div>
                <div class="Jpfp">
                    <a href="/Juan/"><img src="/static/img/Juan.webp" alt="imagenperrona"></a>
                </div>    
            </div>
            
            <!-- parte que contiene Roberto -->
            
            <div class="mitad Roberto">
                <div class="Rcont1">
                    <h2>Roberto Andrés Yáñez San</h2>
                    <ul>
                        <li>Fecha nacimiento: 28/03/2002</li>
                        <li>Nacionalidad: Chileno</li>
                        <li>Estado civil: Soltero</li>
                        <li>Estudiante en Ingeniería en Ciberseguridad </li>
                    </ul>
                    <h2>Contacto:</h2>
                        <ul>
                            <li>Teléfono personal: (+56 9) 4321-8765</li>
                            <li>Correo: roberto.yanezsan@example.com</li>
                            <li>Página web: www.sitioaunmasincreible.com</li>
                            <li>LinkedIn: linkedin.com/in/roberto-yanez</li>
                            <li>GitHub: github.com/roberto-yanez</li>
                        </ul>
                    <h2>Habilidades:</h2>
                        <ul>
                            <li>Programación en Python</li>
                            <li>Seguridad Informática</li>
                            <li>Desarrollo Web</li>
                            <li>Trabajo en equipo</li>
                            <li>Experiencia en armado y mantención de computadores (autodidacta)</li>
                        </ul>
                    <h2>Educación:</h2>
                        <ul>
                            <li>Liceo Maria Reyna (2008 - 2020)</li>
                            <li>INACAP, Ciberseguridad (2024 - En curso)</li>
                        </ul>
                    <h2>Idiomas:</h2>
                        <ul>
                            <li>Español (Nativo)</li>
                            <li>Inglés (Basico)</li>
                        </ul>
                </div>
                    <div class="Rpfp">
                        <a href="/Roberto"><img src="/static/img/Roberto.png" alt="el wea"></a>
                    </div>
                
            </div>
        </div>

        <!-- parte que contiene Formulario de contacto -->

        <div class="ContenerdorContacto">
            <div class="formulario">
                <h3>Formulario de Contacto</h3>
                <form id="contactForm" method="POST">
                    {% csrf_token %}
                    <div class="CampoFormulario">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" required>
                    </div>
                    <div class="CampoFormulario">
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" required>
                    </div>
                    <div class="CampoFormulario">
                        <label for="email">Correo electrónico:</label>
                        <input type="email" id="email" required>
                    </div>
                    <div class="CampoFormulario">
                        <label for="motivo">Motivo de contacto:</label>
                        <textarea id="motivo" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn-enviar">ENVIAR</button>
                </form>
            </div>
        </div>
        
</body>
{% endblock %}
</html>